@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor:</p>
<p> @ViewData["Professor"]</p>

<adress>
        <strong>More informations:</strong> <a href="http://educandoweb.com.br"> Educandoweb.com.<br /></a>
</adress>